[submodule "src/hector_slam"]
	path = src/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
	branch = melodic-devel
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ros-planning/navigation.git
	branch = melodic-devel
